<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue基础2</title>
    <style>
        li {
            width: 180px;
            background-color: skyblue;
            list-style: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul>
            <!-- 下面等同于 v-for = "item of list" -->
            <li v-for="(item1, i) in lists1" :key="i">
                {{ i+1 }} -- {{ item1 }}
            </li>
            <li v-for="item2 in lists2" style="background-color: coral;">
                {{ item2 }}
            </li>
            <li v-for="(index, key, value) in lists3">
                {{ index }}.{{ key }}: {{ value }}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                lists1: ["aaa", "bbb", "ccc"],
                lists2: [
                    { firset: "red" },
                    { second: "yellow" },
                    { third: "green" }
                ],
                lists3: {
                    firstname: "jack",
                    lastname: "smith",
                    age: 10
                }
            }
        });
    </script>
</body>

</html>